{% extends 'base.html' %}


{% block content %}
    <h2>YouTube Video Downloader</h2>
    <form action="/download" method="post">
        {% if message is defined and message %}
            {% if error_type is defined and error_type %}
                <div class="alert alert-success">{{ mesage }}</div>
            {% else  %}
                <div class="alert alert-danger">{{ mesage }}</div>
            {% endif %}
        {% endif %}
        <div class="mb-3 mt-3">
            <label for="video_url">Enter YouTube Video Url:</label>
            <input type="text" class="form-control" id="video_url" placeholder="Enter url" name="video_url">
        </div>          
        
        <button type="submit" class="btn btn-primary">Proses</button>        
    </form>

    {% if error_type == 1 %}
        <p style="color: green;">{{ message }}</p>
        <p>Downloaded Video: {{ title }}</p>
        <a href="{{ url_for('download_file', filename=filename) }}">Download Video</a>
    {% elif error_type == 0 %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
    
{% endblock %}
